* {
   margin: 0;
   padding: 0;
   text-decoration: none;
}

.container {
   display: flex;
}

main {
   width: 100%;
   padding: 4vh 20vw;
}

.sidebar {
   background: rgba(74, 43, 140, 1);
   color: #fff;
   height: 100vh;
   width: 200px;
   transition: all .5s;
   border-radius: 0 .8vh .8vh 0;
}

.top_section {
   display: flex;
   align-items: center;
   padding: 20px 12px;
}

.logo {
   font-size: 25px;
   font-weight: 500;
   justify-content: center;
   align-items: center;
   text-align: center;
   transition: all 0.5s;
}

.bars {
   display: flex;
   font-size: 25px;
}

.link {
   display: flex;
   color: #fff;
   padding: 10px 15px;
   gap: 15px;
   transition: all 0.5s;
}

.link:hover {
   background: rgba(99, 57, 191, 1);
   color: rgb(255, 255, 255);
   transition: all 0.5s;
   border-radius: .5vh;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active {
   background: rgba(99, 57, 191, 1);
   color: rgb(255, 255, 255);
   border-radius: .5vh;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icon,
.link_text {
   font-size: 18px;
   font-weight: 300;
}